/* -----------------------------------
Template Name: Financo
Template URI: https://devitems.com/html/financo-preview/
Description: This is html5 template
Author: HasTech
Author URI: https://devitems.com/
Version: 1.0
NOTE: This is Footer style file. All footer related style included in this file.

--------------------------------------*/
.single-footer-widget {color: #cccccc;}
.single-footer-widget > h3 {
    color: #ddd;
    font-family: "montserratsemi_bold";
    font-size: 16px;
    line-height: 11px;
    margin-bottom: 31px;
    text-transform: uppercase;
}
.single-footer-widget p {
    color: #cccccc;
    font-family: "montserratlight";
}
.single-footer-widget > span i {
    font-size: 18px;
    width: 30px;
}
.footer-list a:hover {color: #fff;}
.footer-list > li {
    line-height: 18px;
    margin-bottom: 13px;
}
.footer-list a {
    color: #cccccc;
    font-size: 12px;
    line-height: 17px;
}
.footer-logo {margin-bottom: 21px;}
.footer-logo > a {display: inline-block;}
.subscribe-form > input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #cccccc;
    font-family: "montserratlight";
    font-size: 12px;
    padding-left: 13px;
    height: 100%;
}
input#mc-email::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.subscribe-form input[type="email"]::-webkit-input-placeholder {color: #ccc;}
.subscribe-form {
    border: 1px solid #acacac;
    height: 38px;
    margin-top: 19px;
    position: relative;
}
.subscribe-form > button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #C5C5C5;
    font-size: 14px;
    height: 100%;
    padding: 0 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.subscribe-form:hover button{color: #fff}
.footer-widget-content > h5 {
    color: #c5c5c5;
    margin-bottom: 7px;
}
.footer-widget-content > span {
    color: #c5c5c5;
    font-family: "montserratlight";
    font-size: 12px;
    line-height: 24px;
}
.footer-widget-content:nth-child(2) {margin-bottom: 26px;}
.footer-contact-info > span {
    display: block;
    font-family: "montserratlight";
    line-height: 22px;
    padding-left: 40px;
}
.footer-contact-info > img {position: absolute; }
.footer-contact-info {font-size: 12px; position: relative;}
.footer-contact-info:nth-child(2), .footer-contact-info:nth-child(3) {margin-bottom: 22px;}
.footer-text {
    color: #cccccc;
    font-family: "montserratlight";
    font-size: 13px;
    line-height: 14px;
}
.footer-text a {color: #cccccc;}
.footer-text a:hover {border-bottom: 1px solid #ccc;}
.footer-widget-area .col-xl-3:nth-child(2) .single-footer-widget {padding-left: 65px}
.footer-widget-area .col-xl-3:nth-child(3) .single-footer-widget {padding-left: 70px}
.footer-widget-area .col-xl-3:last-child .single-footer-widget {float: right;}