@charset "utf-8";



.ej-calculator {
  background:#ffffff;
  padding:20px;
}

.ej-calculator *,
.ej-calculator *:before,
.ej-calculator *:after {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.ej-calculator:after {
  clear:both;
  content:"";
  display:table;
  width:100%;
}

.ej-calculator h2 {
  color:#000000;
  font-family:  'Poppins';
}

.ej-calculator hr {
  border-collapse:collapse;
  border-bottom:1px solid #4407a7;
  margin:30px 0;
}

.ej-calculator ul li {
  color:#4407a7;
}

.ej-calculator p a {
  color:#4407a7;
  text-decoration:underline;
}

.ej-calculator p a:hover,
.ej-calculator p a:focus {
  text-decoration:none;
}

/* Calculators / Buttons (Reusable)
-------------------------------------------- */

.button-button {
  background:none;
  border:none;
  display:inline-block;
  font-size:13px;
  padding:10px;
}

.faux-button {
  display:inline-block;
  font-size:13px;
  padding:10px;
}

.button__red {
  background:none;
  color:#4407a7;
}

.button__red:hover,
.button__red:focus {
  color:#4407a7;
  text-decoration:underline;
}

.button__link {
  color:#4407a7;
  padding:10px 0;
  text-decoration:underline;
}

.button__link:hover,
.button__link:focus {
  color:#5b5854;
  text-decoration:none;
}

/* Tab & Panel Navigation (Reusable)
-------------------------------------------- */

#calc-nav {
  float:left;
  width:100%;
  background:#fff;
  overflow:hidden;
  margin-bottom:15px;
  margin:0 0 0 1px;
}

#calc-nav-border {
  border-bottom:3px solid #f8522f;
  clear:both;
  margin-right:1px;
  margin-bottom:15px;
}

#calc-nav ul {
  clear:left;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  width:100%;
  text-align:center;
}

#calc-nav ul li {
  display:table;
  float:left;
  list-style:none;
  margin:0;
  padding:0.5em 1em;
  position:relative;
  height:60px;
  width:25%;
  background:#e7e6e6;
  border-right:1px solid #fff;
}

#calc-nav ul li a {
  display:table-cell;
  vertical-align:middle;
  color:#5b5854;
  text-decoration:none;
  text-shadow:rgba(0, 0, 0, 0.14902) 0px 1px 1px;
  line-height:1.3em;
  font-weight:bold;
  vertical-align:middle;
}

@media screen and (max-width:767px) {
  #calc-nav ul li {
    width:50%;
    margin-top:1px;
    padding:0;
  }
}

.active-calc {
  background:#f8522f !important;
  color:#fff !important;
}

.active-calc a {
  color:#fff !important;
}

/* UI / Slider
-------------------------------------------- */

.ej-calculator .noUi-horizontal {
  height:10px;
}

.ej-calculator--form__compact .noUi-horizontal {
  height:10px;
}

.ej-calculator .noUi-horizontal .noUi-handle {
  width:30px;
  height:30px;
  left:-10px;
  top:-11px;
  border-radius:50%;
}

.ej-calculator--form__compact .noUi-horizontal .noUi-handle {
  width:30px;
  height:30px;
  left:-7px;
  top:-12px;
}

.ej-calculator .noUi-background {
  background:#d5d5d5;
  box-shadow:none;
}

.ej-calculator .noUi-handle {
  border:none;
  border-radius:0;
  background:#03989e;
  box-shadow:0 3px 6px -3px #BBB;
}

.ej-calculator .noUi-handle:before,
.ej-calculator .noUi-handle:after {
  display:none;
}

/* Calculator Form
============================================= */

.ej-calculator--header {
  margin-bottom:30px;
}

.ej-calculator--form {
  float:left;
  padding-right:30px;
  width:55%;
}

.ej-calculator--form h4 {
  border-bottom:1px solid #cccccc;
  color:#73716d;
  text-align:left;
  margin:20px 0;
  padding-bottom:10px;
}

.ej-calculator--form h4:first-child {
  border-top:none;
  margin-top:0;
  padding-top:0;
}

@media screen and (max-width:767px) {

  .ej-calculator--form {
    float:none;
    padding-right:0;
    width:auto;
  }
}

/* Calculator Form / Slider Group
-------------------------------------------- */

.ej-calculator--slider-group {
  margin-bottom:14px;
}

@media (max-width:767px) {
  .ej-calculator--slider-group {
    margin:25px;
  }
}

.ej-calculator--form__compact .ej-calculator--slider-group {
  margin-bottom:30px;
}

.ej-calculator--slider-group label {
  display:inline-block;
  color:#5b5854;
  font-weight:bold;
  font-size:18px;
  margin-top:8px;
  font-family: sans-serif;
}

.ej-calculator--slider-group .ej-ui-nouislider {
  display:inline-block;
  width:98%;
}

.ej-calculator--form .ej-calculator--slider-group input[type=text] {
  background:#03989e21;
  border:1px solid black;
  border-radius:0;
  display:inline-block;
  height:32px;
  padding:0 10px;
  position:relative;
  top:5px;
  vertical-align:middle;
  width:31%;
  float:right;
  margin-bottom:20px;
  font-size:16px;
  text-align:right;
}

@media (max-width:767px) {
  .ej-calculator--form .ej-calculator--slider-group input[type=text] {
    width:50%;
  }
}

.calculator-error {
  box-shadow:0 0 5px rgba(255, 0, 0, 1) !important;
  border:1px solid red !important;
  transition:box-shadow linear 1, border 500ms ease-out !important;
  -webkit-transition:box-shadow linear 1, border 500ms ease-out !important;
  -moz-transition:box-shadow linear 1, border 500ms ease-out !important;
  -o-transition:box-shadow linear 1, border 500ms ease-out !important;
}

.ej-calculator--form__compact .ej-calculator--slider-group input[type=text] {
  top:1px;
  border:1px solid black;
}

/* Calculator Form / Add Another Option
-------------------------------------------- */

.ej-calculator--alternate-scenarios .ej-calculator--slider-group {
  display:none;
}

.ej-calculator--alternate-scenarios--add {
  margin-bottom:20px;
  text-align:center;
}

/* Results
============================================= */

.ej-calculator--sidebar {
  float:right;
  width:45%;
  margin-bottom:35px;
}

@media screen and (max-width:767px) {

  .ej-calculator--sidebar {
    float:none;
    width:auto;
  }
}


/* Results
============================================= */

.ej-calculator--results {
  float:right;
  width:45%;
}

@media screen and (max-width:767px) {

  .ej-calculator--results {
    float:none;
    width:auto;
  }
}

.ej-calculator--results--scenario {
  background:#03989e;
  border:1px solid #ebe9e9;
  margin-bottom:20px;
  padding:10px;
}

.ej-calculator--results h4 {
  text-align:left;
  margin:0 0 14px 0;
}

.ej-calculator--results hr {
  border:none;
  border-bottom:1px solid #cccccc;
  margin:14px 0;
}

.scenario--header {
  margin-bottom:20px;
  color: white;
  font-family:monospace;
}

.scenario--footer {
  color: white;
  font-family:monospace;
}

.scenario--header em {
  display:block;
  font-size:36px;
  text-align:center;
  font-style:normal;
  margin-top:10px;
}

/* Results / Bar Graph
-------------------------------------------- */

.scenario--bar-graph {
  margin-bottom:14px;
  position:relative;
  overflow:hidden;
}

.scenario--bar-graph div {
  font-weight:bold;
  padding:10px;
  text-align:right;
}

.scenario--bar-graph--estimated {
  background:#84d3d7;
  color:#ffffff;
  position:absolute;
  left:0;
  top:0;
  text-align:left !important;
}

.scenario--bar-graph--potential {
  background:#a9a7a5;
  color:#5b5854;
}

/* Results / Table
-------------------------------------------- */

.ej-calculator--results table {
  color:#5b5854;
  font-size:12px;
  margin-bottom:20px;
  width:100%;
}

.ej-calculator--results tr {
  background:#f9f8f8;
  border-bottom:1px solid #b9b8b8;
}

.ej-calculator--results--table__subtle tr {
  background:none;
  border-bottom:none;
}

.ej-calculator--results tr:nth-child(even) {
  background:#e7e6e6;
}

.ej-calculator--results--table__subtle tr:nth-child(even) {
  background:#eeeeee;
}

.ej-calculator--results thead tr {
  border-bottom:1px solid #7d7c7c;
}

.ej-calculator--results th,
.ej-calculator--results td {
  padding:3px 10px;
}

.ej-calculator--results tbody tr:last-child {
  background:#dcdcdc;
}

.ej-calculator--results--table__subtle tbody tr:last-child {
  background:#eeeeee;
}

.ej-calculator--results th {
  text-align:left;
  font-weight:bold;
}

.ej-calculator--results thead th {
  padding:10px 10px;
  line-height:14px;
  text-align:right;
}

.ej-calculator--results thead th:first-child {
  text-align:left;
}

.ej-calculator--results td {
  text-align:right;
}

.ej-calculator--results--table__segmented tbody tr:first-child {
  background:#73716d;
  border:none;
  color:#ffffff;
}

.ej-calculator--results tr.table--row__highlight {
  background:#fcc81c !important;
  font-weight:bold;
}


/* Calculator Footer
============================================= */

.ej-calculator--footer {
  clear:both;
  margin:10px 0 30px 0;
}

.ej-calculator--footer .button-button {
  font-size:18px;
  padding:20px 30px;
}


/* Guided Planner
============================================= */

.guided-slide {
  color:#5b5854;
  background:#f7f6f6;
  padding:50px 30px 30px 30px;
  margin:30px 10px 20px 10px;
  position:relative;
}

.guided-slide--header {
  min-height:80px;
}

.guided-slide--header h3 {
  color:#5b5854;
  font-size:30px;
  line-height:30px;
  margin:0 0 50px 0;
  padding:0;
  text-align:center;
}

.guided-slide--header h3 strong {
  display:block;
  font-size:18px;
  font-weight:bold;
}

@media screen and (max-width:640px) {

  .guided-slide {
    padding:30px 20px 20px 20px;
    margin:30px 0;
  }

  .guided-slide--header h3 {
    font-size:24px;
  }
}

/* Guided Planner / Content
-------------------------------------------- */

.guided-slide--content {
  min-height:200px;
  text-align:center;
}

.guided-slide--content p {
  font-size:16px;
  text-align:left;
}

.guided-slide--content p a {
  color:#0071ba;
  text-decoration:underline;
}

.guided-slide--content p a:hover,
.guided-slide--content p a:focus {
  text-decoration:none;
}

.guided-slide--content .ej-calculator--slider-group input[type=text] {
  border:1px solid #dedddd;
  border-radius:0;
  font-size:24px;
  height:auto;
  padding:10px;
  text-align:center;
}

.guided-slide--content .ej-ui-nouislider {
  width:60%;
  margin:40px 20% 0 20%;
}

@media screen and (max-width:767px) {

  .guided-slide--content .ej-ui-nouislider {
    width:80%;
    margin:40px 10% 0 10%;
  }
}

@media screen and (max-width:640px) {

  .guided-slide--content .ej-calculator--slider-group input[type=text] {
    font-size:18px;
    padding:10px;
    width:50%;
  }

  .guided-slide--content .ej-ui-nouislider {
    width:90%;
    margin:40px 5% 0 5%;
  }

  .guided-slide--content p {
    font-size:14px;
  }
}


/* */

/* Dots
--------------------------------------------- */

.ej-calculator .owl-carousel .owl-dots {
  text-align:center;
}

.ej-calculator .owl-carousel .owl-dots .owl-dot {
  display:inline-block;
  margin-right:6px;
  cursor:default;
  pointer-events:none;
 /* */;
}

.ej-calculator .owl-carousel .owl-dots .owl-dot span {
  background:#adaba9;
  border-radius:6px;
  display:block;
  height:12px;
  width:12px;
}

.ej-calculator .owl-carousel .owl-dots .owl-dot.active span {
  background:#fcc81c;
}

/* Guided Planner / Footer
-------------------------------------------- */

.guided-slide--footer {
  text-align:center;
}

.guided-slide--footer:after {
  clear:both;
  content:"";
  display:table;
  width:100%;
}

.guided-slide--footer .faux-button,
.guided-slide--footer .button-button {
  font-size:18px;
  padding:20px 30px;
}

.guided-slide--previous {
  color:#5b5854;
  float:left;
  padding:20px 0;
  text-decoration:underline;
}

.guided-slide--previous:hover,
.guided-slide--previous:focus {
  color:#5b5854;
  text-decoration:none;
}

.guided-slide--next {
  float:right;
}

@media screen and (max-width:640px) {

  .guided-slide--previous {
    display:block;
    float:none;
    padding:0;
    margin:20px 0;
  }

  .guided-slide--next {
    float:none;
  }

  .guided-slide--footer .faux-button,
.guided-slide--footer .button-button {
    font-size:15px;
    padding:10px 20px;
  }
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout:none;
-webkit-user-select:none;
-ms-touch-action:none;
-ms-user-select:none;
-moz-user-select:none;
-moz-box-sizing:border-box;
  box-sizing:border-box;
}
.noUi-target {
  position:relative;
}
.noUi-base {
  width:100%;
  height:100%;
  position:relative;
}
.noUi-origin {
  position:absolute;
  right:0;
  top:0;
  left:0;
  bottom:0;
}
.noUi-handle {
  position:relative;
  z-index:1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index:10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index:-1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition:left 0.3s, top 0.3s;
  transition:left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor:inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height:18px;
}
.noUi-horizontal .noUi-handle {
  width:34px;
  height:28px;
  left:-17px;
  top:-6px;
}
.noUi-vertical {
  width:18px;
}
.noUi-vertical .noUi-handle {
  width:28px;
  height:34px;
  left:-6px;
  top:-17px;
}

/* Styling;
 */
.noUi-background {
  background:#FAFAFA;
  box-shadow:inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
  background:#3FB8AF;
  box-shadow:inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition:background 450ms;
  transition:background 450ms;
}
.noUi-origin {
  border-radius:2px;
}
.noUi-target {
  border-radius:4px;
  border:1px solid #D3D3D3;
  box-shadow:inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-target.noUi-connect {
  box-shadow:inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor:w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor:n-resize;
}
.noUi-handle {
  border:1px solid #D9D9D9;
  border-radius:3px;
  background:#FFF;
  cursor:default;
  box-shadow:inset 0 0 1px #FFF,
        inset 0 1px 7px #EBEBEB,
        0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow:inset 0 0 1px #FFF,
        inset 0 1px 7px #DDD,
        0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content:"";
  display:block;
  position:absolute;
  height:14px;
  width:1px;
  background:#E8E7E6;
  left:14px;
  top:6px;
}
.noUi-handle:after {
  left:17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width:14px;
  height:1px;
  left:6px;
  top:14px;
}
.noUi-vertical .noUi-handle:after {
  top:17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background:#B8B8B8;
}
[disabled] .noUi-handle {
  cursor:not-allowed;
}

.ej-calculator h3 {
  color: #5b5854;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 15px;
}


.button__red, .buttonRed {
  background:none repeat scroll 0 0 #03989e;
  color:#FFFFFF;
}

.button__red:hover, .buttonRed:hover,
.button__red:focus, .buttonRed:focus {
  color:#FFFFFF;
}