@charset "utf-8";



@import url("ej-main-baseline.css");
@import url("ej-main-components.css");
@import url("ej-main-pages--calculators.css");
@import url("ej-main-pages--stocks.css");



/* Fonts
---------------------------------------------- */

@font-face {
  font-family:'ProximaNova';
  font-weight:300;
  font-style:normal; 
  src:url('2EECFE_0_0.woff') format('woff');
}
 
@font-face {
  font-family:'ProximaNova';
  font-weight:normal;
  font-style:normal; 
  src:url('2EECFE_1_0.woff') format('woff');
}
  
@font-face {
  font-family:'ProximaNova';
  font-weight:bold;
  font-style:normal; 
  src:url('2EECFE_2_0.woff') format('woff');
}
  
@font-face {
  font-family:'ProximaNova';
  font-weight:300;
  font-style:italic; 
  src:url('2EECFE_3_0.woff') format('woff');
}
 
@font-face {
  font-family:'ProximaNova';
  font-weight:normal;
  font-style:italic; 
  src:url('2EECFE_4_0.woff') format('woff');
}
 
/* Colors (Hex)
------------------------------------------------

    Gold        #
    Red         #
    Green       #
    Blue        #
    Light Grey  #
    Dark Grey   #
    Darker Grey #

/* Breakpoints
------------------------------------------------

    Desktop
    @media screen and (min-width:1200px) {
    }

    Tablet Landscape (Desktop Narrow)
    @media screen and (max-width:1199px) and (min-width:980px) {
    }

    Tablet Portrait
    @media screen and (max-width:979px) and (min-width:768px) {
    }

    Phone (Mobile)
    @media screen and (max-width:767px) {
    }

--------------------------------------------- */

.helper__reader {
  height:0;
  opacity:0;
  position:absolute;
  top:-9999pt;
  left:-9999pt;
  width:0;
  z-index:-9999;
}

.scrReaderFloatLeft {
  float:left;
}

.scrReaderTextLeft {
  text-align:left !important;
}

.scrReaderHide {
  position:absolute !important;
  top:-9999px !important;
  left:-9999px !important;
}